*,
*::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

:root{
  --primary-color: #556bfd;
  --secondary-color: #ECFFDC;
  --navbar-color:#001122;
  --highlight-color:goldenrod;
}

body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1{
        color: var(--primary-color);
}

span{
    color: var(--highlight-color);
    text-decoration: none;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
.nav-container{
    background-color: var(--navbar-color);
    height:10vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.nav-container a{
    margin: 0px 30px;
    text-decoration: none;
    padding-top: 3.5vh;
    font-weight: bolder;
    color: var(--highlight-color);
    font-size:17px;
}

#body-header{
  height: 90vh;
  background-image: url('./image/header.svg');
  background-size: cover;
  background-position: center;
  background-attachment:scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: bolder;
  font-size:1.5rem;
  color: var(--navbar-color)
}

#lightbox{
    height: 0;
    width: 0;
    position:fixed;
    top:0;
    left: 0;
    overflow: hidden;
    z-index: 3;
    padding-bottom: 20px;;
}
#lightbox:target{
    height:auto;
    width:60%;
    top:10%;
    left:20%;
    background-color: var(--secondary-color);
}
#lightbox a{
  font-size:30px;
  font-weight: bolder;
  color: red;
  margin-left: 49%;
  text-decoration: none;
}
#lightbox img{
    display:block;
    height: 200px;
  border-radius: 300px;
  margin:auto ;

}
#lightbox p{
  text-align: center;
}
#about-content{
    height:15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 5%;
    right: 5%;
}

.about-para{
    font-size:20px;
}


.timeline {
    position: relative;
    top:20vh;
    width: 75%;
    margin: auto;
}

.timeline-box {
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-divider {
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed var(--primary-color);
    top: 2%;
    left: 50%;
}

.timeline-traveller {
    position: sticky;
    top: 20%;
    transform: rotate(90deg);
    z-index: 2;
}

#skills-timeline{
    margin-top: 100px;
    background-image: url('./image/herolayer.svg');
    background-size: cover;
    background-position: center;
}

#skills-timeline h1 {
    color: black;
}

#skills-timeline::-webkit-scrollbar {
  display: none;
}

.skills-display {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
       
}

.skills-display img{
    height: 50px;
    width:50px;
}

.skill {
    padding:10px 50px;
}

.skill-progress {
    width: 3rem;
    height: 0.4rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
}

.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
}

/*Percentage Classes */

.skill-percentage {
    width: 85%;
    height: inherit;
}

.skill-percent-color {
    background-color: var(--primary-color);
}



#projects{
    background-image: url('./image/projwave.svg');
    background-size: cover;
    background-position: center;
    margin-top: -5px;
}

.container{
    display: flex;
    flex-direction: column;
}

.proj-card{
    width: 80%;
    margin: auto;
    background-color:white;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    flex:1;
}
.proj-card:hover{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    background-color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
}
.img-container{
    flex: 1;
}
.img-container-rev{
    order:2;
    flex: 1;
    overflow-x: hidden;
}
.img-container img{
    max-width:100%;
    overflow-x: hidden;
    object-fit: contain;
    display: block;
    max-width: 100%;
    object-fit: cover;
    min-height: 100%;
    background-attachment: fixed !important;
}
.text-container{
    padding: 50px 50px;
    flex: 1;
}
.text-container a{
    position: relative;

    display:inline-block;
}

@media only screen and (max-width: 1080px) {
    .proj-card{
    margin: auto;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .proj-card:hover{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
    }
    .img-container-rev{
    order:0;
    }

}


.text-container a{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;;
    padding:5px;
    border:1px solid var(--primary-color);
    border-radius:10px;
}

.text-container p{
    padding-top:10px;
    padding-bottom: 10px;
}

.section-heading{
    height:15vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    font-size:17px;
}

.section-heading h1{
    font-weight: bolder;
    font-size:35px;
}
#Blogs{
    background-image: url('./image/layeredblog.svg');
        background-size: cover;
    background-position: center;
padding-top: 50px;
}
.blog-container{
    width:70%;
    margin: auto;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding-bottom: 50px;
    flex:1;
}

.blog-text-container{
    padding:50px;
    /* background-color: white; */
}

.blog-card{
    background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  max-height: 80vh;
  overflow: scroll;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  margin-left: 20px;
  flex: 1;
}

.blog-card::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1080px) {
    .blog-text-container{
    padding:10px;
}

.blog-card{
    background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  max-height: 50vh;
  overflow: scroll;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  margin-left: 20px;
  flex: 1;
}
}

.blog-img-container img{
    display: block;
    max-width: 100%;
    min-height: 100%;
    display:flex;
    flex:1;
}


#footer{
    height:20vh;
    background-color: var(--navbar-color);
    color: var(--highlight-color);
}


#footer-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top:5vh
}

.social{
    display:flex;
    flex-direction:column;
}

.social a{
    text-decoration: none;
    color: var(--highlight-color);

}

.social a:hover{
    text-decoration: none;
    color: var(--primary-color);


}

.view-more{
    text-decoration: none;
    display: inline-block;
    background-color: var(--secondary-color);
    padding:5px;
    border-radius: 7px;
    position: relative;
    left:47%;
    color:var(--primary-color);
    margin-bottom: 15px;
}

.link-primary{
    background-color: var(--primary-color);
    color:white;
    font-weight: bolder;
}

#hero-img img {
    max-width: 100%;
}

#hero-img {
    max-width: 50%;
    width: 25%;
    display: block;
    margin: auto;
}





#lightbox-skill-js{
    position:fixed;
    overflow: hidden;
    z-index: 3;
}
#lightbox-skill-js:target{
    /* height:auto; */
    top:60%;
    left:25%;
    background-color: rgba(255, 255, 255, 0.452);
}

#lightbox-skill-html{
    position:fixed;
    overflow: hidden;
    z-index: 3;
}
#lightbox-skill-html:target{
    /* height:auto; */
    top:60%;
    left:25%;
    background-color: rgba(255, 255, 255, 0.452);
}

#lightbox-skill-css{
    position:fixed;
    overflow: hidden;
    z-index: 3;
}
#lightbox-skill-css:target{
    /* height:auto; */
    top:60%;
    left:25%;
    background-color: rgba(255, 255, 255, 0.452);
}

#lightbox-skill-cpp{
    position:fixed;
    overflow: hidden;
    z-index: 3;
}
#lightbox-skill-cpp:target{
    /* height:auto; */
    top:60%;
    left:25%;
    background-color: rgba(255, 255, 255, 0.452);
}

#lightbox-skill-java{
    position:fixed;
    overflow: hidden;
    z-index: 3;
}
#lightbox-skill-java:target{
    /* height:auto; */
    top:60%;
    left:25%;
    background-color: rgba(255, 255, 255, 0.452);
}

#lightbox-skill-react{
    position:fixed;
    overflow: hidden;
    z-index: 3;
}
#lightbox-skill-react:target{
    /* height:auto; */
    top:30%;
    left:60%;
    background-color: rgba(255, 255, 255, 0.452);
}

#lightbox-skill-node{
    position:fixed;
    overflow: hidden;
    z-index: 3;
}
#lightbox-skill-node:target{
    /* height:auto; */
    top:30%;
    left:60%;
    background-color: rgba(255, 255, 255, 0.452);
}

#lightbox-skill-bash{
    position:fixed;
    overflow: hidden;
    z-index: 3;
}
#lightbox-skill-bash:target{
    /* height:auto; */
    top:55%;
    left:25%;
    background-color: rgba(255, 255, 255, 0.452);
}

#lightbox-skill-git{
    position:fixed;
    overflow: hidden;
    z-index: 3;
}
#lightbox-skill-git:target{
    /* height:auto; */
    top:50%;
    left:25%;
    background-color: rgba(255, 255, 255, 0.452);
}

#lightbox-skill-post{
    position:fixed;
    overflow: hidden;
    z-index: 3;
}
#lightbox-skill-post:target{
    /* height:auto; */
    top:55%;
    left:25%;
    background-color: rgba(255, 255, 255, 0.452);
}


#lightbox-skill-net{
    position:fixed;
    overflow: hidden;
    z-index: 3;
}
#lightbox-skill-net:target{
    /* height:auto; */
    top:55%;
    left:25%;
    background-color: rgba(255, 255, 255, 0.452);
}

#lightbox-skill-heroku{
    position:fixed;
    overflow: hidden;
    z-index: 3;
}
#lightbox-skill-heroku:target{
    /* height:auto; */
    top:55%;
    left:25%;
    background-color: rgba(255, 255, 255, 0.452);
}

